/* || Banner for contact page*/

/* Background color  */

.fullwidth-bg {
  background-color: #8f2d56;
  width: 100%;
  text-align: center !important;
  padding-bottom: 29px;
}

/* H2 color  */
.conthead {
  color: white;
  margin: 0;
}

/* End Background color  */
.head {
  color: #e3d126;
  margin-top: -34px;
  margin-left: 147px;
  font-family: "Sixtyfour", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}
/* || Contact formulier */
form {
  text-align: center;
}

h2 {
  text-align: center;
}

/* Framework of contactform  */

input[type="text"],
input[type="email"],
textarea,
select,
button {
  display: block;
  margin: 15px 0px;
  width: 400px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: inset 2px 2px 5px #d81159;
}
textarea {
  height: 200px;
  padding: 5px 4px;
  background-color: antiquewhite;
}
button:active {
  background-color: darkgreen;
  color: white;
  border-radius: 4px;
  box-shadow: inset 2px 2px 5px blue;
}

/* End Framework of contactform  */

/* || End Contact formulier */

/* || Navigatie Menu */

/* Knoppen */
li {
  display: inline-block;
  height: 47px;
  width: 100px;
  padding: 12px;
  text-align: center;
  color: white;
  border-left: 2px solid #ffbc42;
  border-right: 1px solid #ffbc42;
  background-color: #d81159;
  border-radius: 10px;
  margin-top: 15px;
}

/* Letters in Knoppen */
ul a {
  columns: white;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Hover-Knoppen contact-page*/

#konthover:hover {
  background-color: #0496ff;
  border-style: none;
  list-style-type: none;
}

/* End Hover-Knoppen contact-page*/

/* || Footer */

.voettekst {
  background-color: #006ba6;
  color: white;
  height: 200px;
  margin-top: -17px;
  padding: 8px;
}

/* || End Footer */

/* || Media query */

/* Container  */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
